* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
}


/* navbar start............................................*/
.navbar {
    background-color: #FFFFFF;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36.1px;
    font-weight: 141px;
    color: #030712;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-menu li a {
    text-decoration: none;
    color: #030712B2;
    font-size: 17.61px;
}

.nav-menu li a:hover {
    color: #333;
}

.bus-btn {
    background-color: #E8FAE5;
    border: 1px solid #1DD10066;
    padding: 10px 25px;
    border-radius: 12px;
    font-size: 18.82px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #1DD100;
}

.bus-btn img {
    width: 21.5px;
    height: 15.5px;
}

.bus-btn:hover {
    background-color: #b5e8c1;
}

/* menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #030712;
    border-radius: 2px;
    transition: 0.3s;
}

/* navbar end............................................*/

















/* responsive */

@media (max-width: 768px) {


    .navbar {
        padding: 15px 20px;
        flex-wrap: wrap;
    }
.logo {
        display: none;
    }
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 15px;
        margin-top: 15px;
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    .nav-menu.active {
        display: flex;
    }

    .bus-btn {
        margin-top: 15px;
    }

    .hamburger {
        display: flex;
    }
}